<!DOCTYPE html>
@*This is a custom made layout*@
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Layout</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script><!--Bootstrap-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">GeoPedia</h1>
        </div>
        <nav>
            <ul>
                <li class="navbar-text">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="navbar-text">@Html.ActionLink("Countries", "Index", "Countries")</li> @*Instead of hardcoded link tags, these HTML helpers will render those tags to the location of the action and controller accurrately*@
                <li class="navbar-text">@Html.ActionLink("Cities", "Index", "City")</li>
            </ul>
        </nav>
        </div>
    </header>
    <main>
        <div class="container">
        @*The RenderBody method is the placeholder for views that will use this layout. Views that use this layout will render their contents here*@
        @RenderBody()
        </div>
    </main>
    <footer>
        <div class="container">
        @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
    </footer>
</body>
</html>
