@model GeoPedia.Models.Countries_Cities
@*This view is using a view model*@
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Custom_Layout.cshtml";
}

<h2>Details</h2>

<h2>@Html.ActionLink(Model.Country.Name, "Details", "Countries", new { code = Model.Country.Code}, null) | <small>@Html.ActionLink("Edit", "Edit", "Countries", new { code = Model.Country.Code }, null) | @Html.ActionLink("Delete", "Delete", "Countries", new { code = Model.Country.Code }, null)</small></h2>

<h3>Population</h3>
<p>@Model.Country.Population</p>
<h2>Cities</h2>
@foreach(var item in Model.Cities)
{
    <div>
        <h5>@Html.ActionLink(item.Name, "Details", "City", new { id = item.Id }, null)</h5>
    </div>
}