@model GeoPedia.Models.Country

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Custom_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Population)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Population)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Established)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Established)
        </dd>

    </dl>
</div>

<div>
    @Html.DisplayNameFor(model => model.Flag_Img)
    <div>
        <img src="@Url.Content("~/Images/Countries/" + Model.Code + "/" + Model.Flag_Img)" alt="Flag image for @Model.Name" />
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
