@model IEnumerable<GeoPedia.Models.Country>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Custom_Layout.cshtml";
}

<h2>Countries</h2>

@*Restricting certain HTML to user roles. If the user is not in this role, then this HTML will not render to the page*@
@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        @foreach(var item in Model)
        {
            @*You can dynamically assign ids to HTML elements using a loop*@
            <div id="@item.Code">
                <h4>@Html.ActionLink(item.Name, "Details", new { id = item.Code})</h4>
                <div>
                    @if (User.IsInRole("Admin"))
                    {
                        @*The @: allows the rendering of text. Without it, | would be an extension of @Html.ActionLink*@
                        @Html.ActionLink("Edit", "Edit", new { id = item.Code }) @: | 
                        @Html.ActionLink("Delete", "Delete", new { id = item.Code })
                    }
                </div>
            </div>
        }
    </div>
</div>
