
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Custom_Layout.cshtml";
}

<h2>Index</h2>

<p>You have reached this page because there is an error</p>

<p>@ViewBag.DbExceptionMessage</p>

<p>@ViewBag.EntityCode</p>
<p>@ViewBag.EntityExceptionMessage</p>

<p>@ViewBag.SqlExceptionNumber</p>
<p>@ViewBag.SqlExceptionMessage</p>

<p>@ViewBag.ExceptionMessage</p>
